/* Register.css */
.register {
    width: 100%;
    height: 100vh;
  }
  
  .container {
      text-align: center;
    }
    
    .card {
      margin-top: 20px;
      padding: 20px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    .form-label {
      font-weight: bold;
      color:black;
    }
    
    .submit-button {
      width: 100%;
    }
    
    .submit-button {
      width: 100%;
      color: rgb(40, 83, 199);
    }
    