/* MyNavbar.css */

.navbar {
    background-color: rgb(13, 81, 21) !important; /* Add !important */
  }
  
  .nav-link {
    color: white !important; /* Add !important */
  }
  
  .nav-link:hover {
    color: red !important; /* Add !important */
  }
  
  .navbar-toggler-icon {
    background-color: rgb(123, 40, 40) !important; /* Add !important */
  }

  .mylogo {
    margin-left: 0;
    display: flex;
    gap: 5px;
  }

  .myapplogo {
    width: 7%;
    margin: 0;
    padding: 2px;
    margin-right: 10px ;
    
  }